<%# coding: UTF-8 -%>
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
      xml:lang="en" lang="en" >

  <head>
    
    <title>BigInfoActivSearch</title>
   
    <link href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/css/bootstrap.css" rel="stylesheet">
    <link href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/css/btproduct.v1.css" rel="stylesheet">
    <link rel="icon"   href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/favicon.ico" />

  <!-- jQuery -->
  <script src="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/js/bootstrap.js"></script>
  </head>
 
<body  onload="if (document.getElementById('username')) document.getElementById('username').focus()">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             
                <a class="navbar-brand" href="/">
                    <img class="img-responsive"   src="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/images/logo.png" alt="Bigtappanalytics">
                </a>
            </div>
            
            
        </div>
        
    </nav>
	

    <%= yield %>
	
</body>
</html>
</html>
